 #header{background: url("../images/headerbg.png") repeat-x scroll 0 0 #ffffff;
        height: 105px;
    }
#header .contWidth{
    position: relative;
    height: 105px;
    margin: 0 auto;
    width: 990px;
    z-index: 100;
}
#header .logo{
    float: left;
    color: #FFF;
    line-height: 80px;
    margin-top: 50;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 10px;
}
#header .search{
    left: 281px;
    position: absolute;
    top:23px;
}
#skin {
    float: right;
    margin: 10px;
    padding: 4px;
    width: 120px;
}

#skin li{
    float: left;
    margin-right: 4px;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    background-image: url("../images/theme.gif");
}

#skin_0 {
    background-position: 0px 0px; 
}
#skin_1 {
    background-position: 15px 0px; 
}
#skin_2 {
    background-position: 35px 0px; 
}
#skin_3 {
    background-position: 55px 0px; 
}
#skin_4 {
    background-position: 75px 0px; 
}
#skin_5 {
    background-position: 95px 0px; 
}
#skin_0.selected {background-position: 0px 15px;}
#skin_1.selected {background-position: 15px 15px;}
#skin_2.selected {background-position: 35px 15px;}
#skin_3.selected {background-position: 55px 15px;}
#skin_4.selected {background-position: 75px 15px;}
#skin_5.selected {background-position: 95px 15px;}

.mainNav{
    position: absolute;
    top:68px;
    left: 0;
    height: 37px;
    line-height: 37px;
    width: 990px;
    z-index: 100;
    background-color: #4A4a4A;
}

.mainNav .nav {
    display: inline;
    float: left;
    margin-left: 25px;
}

.mainNav ul li {
    float: left;
    display: inline;
    margin-right: 14px;
    position: relative;
    z-index: 100;
}

.mainNav ul li a {
    display: block;
    padding: 0 8px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}
.mainNav ul li a:hover { background: none; }
/* 二级菜单 */
.jnNav{
    background: #ffffff;
    border: 1px solid #B1B1B1;
    border-top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top:37px;
    width: 474px;
    z-index: 1000;
    display: none;
}

.jnNav .subitem{
    float: left;
    height: auto !important;
    min-height: 100px;
    padding: 10px 12px;
    width: 450px;
}

.jnNav .subitem dl {
    border-top: 1px dashed #C4c4C4;
    overflow: hidden;
    padding: 8px 0;
    float: left;
}

.jnNav .subitem .fore{
    border-top-style: none;
    padding-top: 0;
}

.jnNav .subitem dt {
    float: left;
    font-weight: bold;
    line-height: 16px;
    padding: 4px 3px;
    text-align: center;
    width: 76px;
}

.jnNav .subitem dt a {
    color: #000;
    font-weight: 700;
    font-size: 12px;
    padding: 0;
}

.jnNav .subitem dd {
    float: left;
    overflow: hidden;
    padding: 0;
    width: 364;
}

.jnNav .subitem em {
border-right: 1px solid #CCCCCC;
float: left;
font-style: normal;
height: 14px;
line-height: 14px;
margin: 5px 0;
padding: 0 8px;
}

.jnNav .subitem em a {
    color: #666666;
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
}
.jnNav .subitem em.noborder { border-right: 0 none; }
/* 主体样式 */
#content {
    /* 定义左边不许有浮动元素 */
    clear: left;
    margin: 0 auto;
    position: relative;
    width: 990px;
}

.janeshop{
    height: 560px;
    overflow: hidden;
    padding: 10px 0;
}
#jnCatalog{
    float: left;
    height: 560px;
    margin: 0 11px 0 0;
    overflow: hidden;
    width: 187px
}

/* 大屏广告 */
#jnImageroll {
    float: left;
    height: 320px;
    width: 550px;
    margin: 0 11px 0 0;
    overflow: hidden;
    position: relative;
}
#jnImageroll img{
    position: absolute;
    left: 0;
    top: 0;
}

#jnImageroll div{
    bottom: 0;
    overflow: hidden;
    position: absolute;
    float: left;
}
#jnImageroll div a{
    background-color: #444444;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    height: 32px;
    margin-right: 1px;
    overflow: hidden;
    padding: 5px 15px;
    text-align: center;
    width: 79px;
}

#jnImageroll div a:hover{
    text-decoration: none;
}
#jnImageroll div a em{
    cursor: pointer;
    display: block;
    height: 16px;
    width: 79px;
    overflow: hidden;
}
#jnImageroll .last{
    margin: 0;
    width:80px;
}
#jnImageroll a.chos{
    background: url("../images/adindex.gif") no-repeat center 39px #37A7D7;
    color: #FFFFFF;
}
/* 最新动态 */
#jnNotice{
    float: left;
    height: 321px;
    overflow: hidden;
    width: 230px;
}

#jnMiaosha{
    float: left;
    height: 176px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 230px;
}
.JS_css3 img{
    /* safari、chrome的私有属性 */
    -webkit-transition: 1s all;
    /* -moz代表火狐的内核 */
    -moz-transition: 1s all;
    /* opera */
    -o-transition: 1s all;
    transition: 1s all;
}
.JS_css3 img:hover{
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
}

#jnNoticeInfo{
    float: left;
    border: 1px solid #DFDFDF;
    height: 133px;
    overflow: hidden;
    width: 228px;
}

#jnNoticeInfo h2{
    height: 23px;
    line-height: 23px;
    border-bottom: 1px solid #DFDFDF;
    text-indent: 12px;
}

#jnNoticeInfo ul{
    float: left;
    padding: 6px 2px 0 12px;
}

#jnNoticeInfo li{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
#jnNoticeInfo li a{
    color: #666666;
}

#jnNoticeInfo li a:hover {
    color: #008CD7;
    text-decoration: none;
}

/* 品牌活动 */
#jnBrand{
    float: left;
    height:230px;
    widows: 790px;
    margin: 10px 0 0;
    overflow: hidden; 
}

#jnCatalog h2 {
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    text-indent: 13px;
    background-color: #6E6E6E;
}

.jiCateinfo{
    border: 1px solid #6E6E6E;
    border-style: none solid solid;
    /* 上0右左1px下1 */
    border-width: 0 1px 1px;
}

.jiCateinfo h3{
    border-bottom: 1px solid #EEEEEE;
    height: 24px;
    width: 164px;
    line-height: 24px;
}

.jiCateinfo ul{
    float: left;
    padding: 0 2px 8px;
}

.jiCateinfo li{
    color: #AEADAE;
    float: left;
    width: 79px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: relative;
}

.jiCateinfo li a{
    color: #444444;
}
.jiCateinfo li a:hover{
    color: #008CD7;
    text-decoration: none;
}
.jiCateinfo li a.promoted{
    color: #F9044E;
}

.jiCateinfo li .hot {
    background: url("../images/hot.gif") no-repeat scroll 0 0 transparent;
    height: 16px;
    position: absolute;
    top: 0;
    width: 21px;
}
#jnBrand {
    float: left;
    height: 230px;
    margin: 10px 0 0;
    overflow: hidden;
    width: 790px;
}

#jnBrandTab{
    border-bottom: 1px solid #E4E4E4;
    height: 29px;
    width: 790px;
    position: relative;
    float: left;
}

#jnBrandTab h2{
    height: 29px;
    line-height: 29px;
    width: 100px;
    left: 0;
    position: absolute;
}

#jnBrandTab ul{
    position: absolute;
    right: 0;
    top: 10px;
}

#jnBrandTab li{
  float: left;
  margin: 0 10px 0 0;
}

#jnBrandTab li a{
    background-color: #E4E4E4;
    color: #000000;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}

#jnBrandTab .chos {
    background: url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
    padding-bottom: 3px;
}
#jnBrandTab .chos a {
    background-color: #FA5889;
    color: #FFFFFF;
    outline: 0 none;
}

#jnBrandContent{
float: left;
height: 188px;
width: 790px;
overflow: hidden;
margin: 8px 5px;
position: relative;
}

#jnBrandList{
    position: absolute;
    left: 0;
    top: 0;
    width: 3000px;
}
#jnBrandList li{
    float: left;
    height: 188px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    width: 185px;
}
#jnBrandList li img{
    left: 5px;
    top:0;
    position: absolute; 
}

#jnBrandList li span{
    background-color: #EFEFEF;
    bottom: 0;
    color: #666666;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 183px;
}
#jnBrandList li a{
    color: #666666;
}
#jnBrandList li a:hover{
    color: #008CD7;
    text-decoration: none;
}
/* details html */
#jnProitem{
    float: left;
    width: 312px;
    height: 560;
    display: inline;
}

#jnProitem .jqzoomWrap{
    border: 1px solid #BBBBBB;
    cursor: pointer;
    float: left;
    padding: 0;
    position: relative;
}

#jnProitem span{
    clear: both;
    width: 320px;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

#jnProitem ul.imgList {
    height: 80px;
}
#jnProitem  ul.imgList li{
    float: left;
    margin-right: 10px;
}
#jnProitem  ul.imgList li img{
    width: 60px;
    height: 60px;
    padding: 1px;
    background: #EEE;
    cursor: pointer;
}
#jnProitem ul.imgList li img:hover{
    padding: 1px;
    background: #999;
}

.tab{
    clear: both;
    float: left;
    height: 230px;
    width: 310px;
    overflow: hidden;
}

.tab .tab_menu{
    clear: both;
}

.tab .tab_menu li{
    float: left;
    text-align: center;
    cursor: pointer;
    list-style: none;
    padding: 1px 6px;
    margin-right:4px;
    background: #f1f1f1;
    border: 1px solid #898989;
    border-bottom: none;
}

.tab .tab_menu li.hover{
    background: #DFDFDF;
}
.tab .tab_menu li.selected{
    color: #FFF;
    background: #6D84B4;
}
.tab .tab_box{
    clear: both;
    border: 1px solid #898989;
}

.tab .hide{
    display: none;
}

#jnDetails {
    float: left;
    display: inline;
    overflow: hidden;
    width: 468px;
}
#jnDetails .jnProDetail {
    padding: 0 10px 10px 10px;
}
#jnDetails .jnProDetailList li {
    float: left;
    line-height: 25px;
    width: 100%;
}

#jnDetails .jnProDetailList strong.del{
    color: #404040;
    font-size: 12px;
    position: static;
    text-decoration: line-through;
}

#jnDetails .jnProDetailList strong {
    font-size: 400;
}
#jnDetails .jnProDetailList .tbDetailPrice strong {
    font-size: 700;
    color: #ff5500;
    font: 24px Tahoma,Arial,Helvetica,sans-serif;
    padding-right: 5px;
    vertical-align: middle;
}
#jnDetails .jnProDetailList .color_change li, #jnDetails .jnProDetailList .pro_size li {
    float: left;
    margin-right: 10px;
    width: 40px;
}

#jnDetails .jnProDetailList .color_change img {
    width: 30px;
    height: 30px;
    padding: 1px;
    background: #EEE;
    border: 1px solid #BBB;
    cursor: pointer;
}

#jnDetails .jnProDetailList .color_change img:hover, #jnDetails .jnProDetailList .color_change img.hover { border: 1px solid #f60; }

#jnDetails .jnProDetailList .pro_size li {
    display: block;
    margin-right: 6px;
    border: 1px solid #AAA;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}

#jnDetails .jnProDetailList .pro_size li.cur {
    border: 1px solid #AAA;
    background-color: #f60;
}
/* rating css */
.rating {
    overflow: hidden;
    width: 80px;
    height: 16px;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    clear: both;
    position: relative;
    background: url(../images/star-matrix.gif) no-repeat 0 0;
}
.nostar { background-position: 0 0 }
.onestar { background-position: 0 -16px }
.twostar { background-position: 0 -32px }
.threestar { background-position: 0 -48px }
.fourstar { background-position: 0 -64px }
.fivestar { background-position: 0 -80px }

ul.rating li {
    cursor: pointer;
    float: left;
    text-indent: -999em;
}
ul.rating li a {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    text-decoration: none;
    z-index: 200;
}
ul.rating li.one a { left: 0 }
ul.rating li.two a { left: 16px; }
ul.rating li.three a { left: 32px; }
ul.rating li.four a { left: 48px; }
ul.rating li.five a { left: 64px; }

ul.rating li a:hover {
    z-index: 2;
    width: 80px;
    height: 16px;
    overflow: hidden;
    left: 0;
    background: url(../images/star-matrix.gif) no-repeat 0 0
}
ul.rating li.one a:hover { background-position: 0 -96px; }
ul.rating li.two a:hover { background-position: 0 -112px; }
ul.rating li.three a:hover { background-position: 0 -128px }
ul.rating li.four a:hover { background-position: 0 -144px }
ul.rating li.five a:hover { background-position: 0 -160px }
/* positiong:x,y x向上 y向下 */
#footer{
    margin: 0;
    width: 990px;
    color: #666666;
    padding: 18px 0;
    text-align: center;
} 

#tooltip {
    position: absolute;
    border: 1px solid #333;
    background: #f7f5d1;
    padding: 1px;
    color: #333;
    display: none;
}

/* imgHover */
.imageMask {
    background-color: #ffffff;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
}
.imageOver {
    background: url(../images/zoom.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity: 0.6;
}